* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

div.wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
  width: 30%;
  background-color: #ccc;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

div.wrapper.print {
  top: 75%;
  height: 50%;
}

div.wrapper div.screen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: 100%;
  background-color: cornflowerblue;
  border: 10px solid lightblue;
  overflow: hidden;
}

div.wrapper div.screen.off {
  background-color: #33425f;
  opacity: 1;
}

div.wrapper div.screen p {
  font-family: 'Audiowide';
}

div.wrapper div.screen p.num {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  font-size: 50px;
  padding-left: 10px;
  font-size: 5vh;
}

div.wrapper div.screen p.opr {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: right;
  font-size: 50px;
  padding-right: 10px;
}

div.wrapper div.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  border: 10px solid cornflowerblue;
}

div.wrapper div.numbers button {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border: 2px inset cornflowerblue;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

div.wrapper div.numbers button:hover {
  background-color: #ccc;
}

div.wrapper div.numbers button.off {
  color: #eee;
}

div.wrapper div.numbers button.off:hover {
  background-color: #eee;
}

div.wrapper div.numbers button.reset {
  background-color: #921111;
}

div.wrapper div.numbers button.reset:hover {
  background-color: #d60000;
}

div.wrapper div.numbers button.reset.reset.off {
  color: #eee;
  background-color: #eee;
}

div.wrapper div.numbers button.reset.reset.off:hover {
  background-color: #eee;
}

div.wrapper div.numbers div.led {
  position: absolute;
  top: 4.5%;
  left: 90%;
  width: 8px;
  height: 8px;
  border-radius: 25px;
  background-color: #0fc90f;
  -webkit-box-shadow: 0 0 5px 2px #0fc90f;
          box-shadow: 0 0 5px 2px #0fc90f;
}

div.wrapper div.numbers div.led.off {
  background-color: #f00;
  -webkit-box-shadow: 0 0 5px 2px red;
          box-shadow: 0 0 5px 2px red;
}

div.printout {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 28%;
  width: 28%;
  background-color: #fff;
  border-left: 8px dotted black;
  border-right: 8px dotted black;
  -webkit-box-shadow: 0 0 0 1px grey;
          box-shadow: 0 0 0 1px grey;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

div.printout.printout.print {
  display: block;
  -webkit-animation: coolPrint 7s normal both;
          animation: coolPrint 7s normal both;
}

div.printout p {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 2vh;
  padding: 20px;
  font-family: Arial;
}

@media (max-width: 400px) and (orientation: portrait) {
  div.wrapper {
    height: 90%;
    width: 80%;
  }
  div.wrapper div.screen p.num {
    font-size: 30px;
  }
  div.wrapper div.numbers button {
    font-size: 20px;
  }
  div.wrapper div.numbers div.led {
    top: 6%;
    width: 4px;
    height: 4px;
  }
  div.printout {
    width: 60%;
  }
}

@-webkit-keyframes coolPrint {
  0% {
    top: 69%;
  }
  25% {
    top: 69%;
  }
  50% {
    top: 38%;
  }
  100% {
    top: 38%;
  }
}

@keyframes coolPrint {
  0% {
    top: 69%;
  }
  25% {
    top: 69%;
  }
  50% {
    top: 38%;
  }
  100% {
    top: 38%;
  }
}
/*# sourceMappingURL=style.css.map */